[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/AlamofireImage"]
	path = Carthage/Checkouts/AlamofireImage
	url = https://github.com/Alamofire/AlamofireImage.git
[submodule "Carthage/Checkouts/ObjectMapper"]
	path = Carthage/Checkouts/ObjectMapper
	url = https://github.com/Hearst-DD/ObjectMapper.git
[submodule "Carthage/Checkouts/SwiftyJSON"]
	path = Carthage/Checkouts/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Carthage/Checkouts/SwiftyUserDefaults"]
	path = Carthage/Checkouts/SwiftyUserDefaults
	url = https://github.com/radex/SwiftyUserDefaults.git
